@tailwind base;
@tailwind components;
@tailwind utilities;

.head {
    display: flex;
    justify-content: space-between;
    margin: 20px
}

.btn{
    background: rgba(127, 86, 217, 1);
}

.checkbox{
    background: rgba(151, 71, 255, 1);
    accent-color : #9747FF;
    border: 1px solid #9747FF;
    width: 20px;
    padding: 7px, 5.79px, 7.14px, 6px;
    border-radius: 6px;
    border: 1px
}


